body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 234, 236);
}

header {
    background-color:rgb(252, 172, 172); 
    color: #760249;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5em;
}


header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

header a {
    display: inline-block;
    background-color: #720338;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.logo img {
    max-width: 90px;
}
nav ul {
    text-align: center;
    /* background-color: #720338; */
    padding: 10px 0;
}
nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration:underline ;
    text-decoration-style: double;
    color: #720338;
    font-size: large;
    transition: color 0.3s;
}

nav a:hover {
    color: #e71062;
}

span{
    color: #dd146f;
    text-decoration:underline ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xxx-large;
}
.menu {
    text-align: center;
    padding: 50px 0;
}

.cake {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    background-color: #f2f2f2;
    border: 1px solid #dcd7d7;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.cake img {
    max-width: 100%;
}

.cake h3 {
    font-size: 1.5em;
}
.cake:hover {
    transform: scale(1.05); 
}
.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #e74c3c;
}

.order {
    text-align: center;
    padding: 10px 0;
}

.order a {
    display: inline-block;
    background-color: #720338;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color:rgb(252, 172, 172);
    color: #3c0c0c;
}
